body{
    text-align: center;
}
#wrapper{
    justify-content: center;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}
#wrapper>button{
    height: 150px;
    border-radius: 5px;
    margin: 5px;
    padding:0;
}
button>img{
    border-radius: 5px;
    height:100%;
    width:100%;
}
#Reset{
    width: 100px;
    height: 50px;
}
#bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
button:hover{
    background-color: rgb(214, 214, 214);
}
button:focus{
    background-color: rgb(145, 145, 145);
}